<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" th:href="@{/css/ForgotPassword.css}">
</head>
<body>

<div class="wrapper">

    <!-- LEFT -->
    <div class="left">
        <img th:src="@{/images/ute.jpg}" alt="">
    </div>

    <!-- RIGHT -->
    <div class="right">

        <!-- HEADER -->
        <div class="header">
            <img th:src="@{/images/logo_no_bg.png}" alt="">
            <p>TRƯỜNG ĐẠI HỌC CÔNG NGHỆ KỸ THUẬT TP.HCM</p>
            <h3>CỔNG THÔNG TIN ĐÀO TẠO</h3>
        </div>

        <!-- CARD -->
        <div class="card">
            <h2>ĐỔI MẬT KHẨU</h2>
            <p class="sub-text">Cổng thông tin diễn đàn</p>

            <form th:action="@{/send-otp}" method="post">

                <!-- INPUT 2 -->
                <div class="input-group ">
                    <input type="email" name="email" th:value="${user.getEmail()}" placeholder="Địa chỉ email">
                </div>

                <button type="submit">Gửi mã OTP</button>

            </form>

            <div th:if="${error}" class="error-text">
                <p th:text="${error}"></p>
            </div>

            <!-- LINE -->
            <div class="divider"></div>

            <!-- LOGIN -->
            <div class="login">
                <a th:href="@{/login}">Đăng nhập</a>
            </div>
        </div>

    </div>

</div>

</body>
</html>