<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" th:href="@{/css/ForgotPassword.css}">

</head>
<body>

<div class="wrapper">
    <link rel="icon" type="image/png" th:href="@{/images/ute_logo.png}" href="/images/ute_logo.png">

    <!-- LEFT -->
    <div class="left">
        <img th:src="@{/images/ute.jpg}" alt="">
    </div>

    <!-- RIGHT -->
    <div class="right">

        <!-- HEADER -->
        <div class="header">
            <img th:src="@{/images/logo_no_bg.png}" alt="">
            <p>TRƯỜNG ĐẠI HỌC CÔNG NGHỆ KỸ THUẬT TP.HCM</p>
            <h3>CỔNG THÔNG TIN ĐÀO TẠO</h3>
        </div>

        <!-- CARD -->
        <div class="card">
            <h2>ĐỔI MẬT KHẨU</h2>
            <p class="sub-text">Cổng thông tin diễn đàn</p>

            <form th:action="@{/change-password}" method="post">

                <div class="input-group ">
                    <input type="password" name="currentpassword"  placeholder="Mật khẩu hiện tai">
                </div>

                <div class="input-group ">
                    <input type="password" name="newpassword"  placeholder="Mật khẩu mới">
                </div>

                <div class="input-group ">
                    <input type="password" name="comfirmnewpassword"  placeholder="Xác nhận mật khẩu mới">
                </div>

                <button type="submit">Xác nhận</button>

            </form>

            <div th:if="${error}" class="error-text">
                <p th:text="${error}"></p>
            </div>

            <!-- LINE -->
            <div class="divider"></div>

            <!-- LOGIN -->
            <div class="login">
                <a th:href="@{/login}">Đăng nhập</a>
            </div>
        </div>

    </div>

</div>

</body>
</html>